<hr />
<main>
  <div class='card'>
    <div class='card-body'>
      <div class='card'>
        <div class='card-body'>
          <h1>H1 Heading</h1>
          <a>Main</a>
          <br />
          <br />
          <a href='#' class='btn btn-primary'>JavaScript</a>
          <br />
          <br />
          <a class='btn btn-outline-primary'>JavaScript is a
            popular high-level, dynamic, and interpreted
            programming language.</a>
          <div class='text-info'>Open page</div>
          <div class='text-warning'>Add to cart</div>
        </div>
      </div>

      <br />

      <div class='card'>
        <div class='card-body'>
          <h2>H2 Heading Second</h2>
          <a>Main</a>
          <br />
          <br />
          <a class='btn btn-secondary'>Stack Overflow</a>
          <br />
          <br />
          <a class='btn btn-outline-secondary'>First-class
            functions</a>
          <div class='text-primary'>Open page</div>
          <div class='text-success'>Add to cart</div>
        </div>
      </div>

      <br />

      <div class='card'>
        <div class='card-body'>
          <h3>H3 Heading Subblock</h3>
          <a>Main</a>
          <br />
          <br />
          <a class='btn btn-dark'>JavaScript Weekly</a>
          <br />
          <br />
          <a
            class='btn btn-outline-secondary text-dark'
          >Prototype-based inheritance newsletter</a>
          <div class='text-success'>Open page</div>
          <div class='text-danger'>Add to cart</div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class='card'>
    <div class='card-body'>
      <div class='display-1'>Nested_display</div>
      <a class='btn btn-outline-success'>HTML</a>
      <br />
      <br />
      <div class='card'>
        <div class='card-body'>
          <h1>Display 4 children</h1>
          <a>Main</a>
          <br />
          <br />
          <a class='btn btn-outline-warning'>Outdated HTML
            tags</a>
          <br />
          <br />
          <a class='btn btn-outline-warning'>tags that have
            been identified as deprecated and not
            recommended for use in HTML version 5</a>
        </div>
      </div>
      <br />
      <a class='btn btn-info'>Learn more</a>
    </div>
  </div>

  <br />

  <div class='card'>
    <div class='card-body'>
      <h4>Paragraph</h4>
      <div class='text-primary'>About modules</div>
      <div class='text-primary'>Modules with import/export
        statements</div>
      <br />
      <div class='text-primary'>Open link page</div>
      <div class='text-primary'>https://google.com</div>
      <br />
      <div class='card'>
        <div class='card-body'>
          <div class='text-primary'>Github</div>
          <div
            class='text-primary'
          >https://github.com/</div>
          <br />
          <div class='text-primary'>Bootstrap</div>
          <div
            class='text-primary'
          >https://getbootstrap.com/</div>
        </div>
      </div>
    </div>
  </div>
</main>