html {
  max-width: 1000px;
}

body {
  margin: 32px;
  background: #fff;
}

main,
header,
footer,
nav {
  margin: 32px;
}

section {
  padding: 16px;

  max-width: 800px;


}
<<<<<<< HEAD
=======
h1 {
  background: rgb(72, 255, 0);
  color: yellow;

}
>>>>>>> 92342241c595dda7e9e1d032fa668f53ca72991f
